img {
    height: 100%;
    transition: height 0.3s ease;
}

img:hover {
    height: 110%;
}

h1 {
    color: var(--main-bg-color);
}

.main {
    position: absolute;
    width: 100%;
    background: linear-gradient(#090a0f 0%, #1b2735 100%);
    z-index: 0;
}

.stars {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

#stars-background {
    width:  1px;
    height: 1px;
    transform: translateY(calc(var(--scroll) * -50px));
}

#stars-midle {
    width:  3px;
    height: 3px;
    transform: translateY(calc(var(--scroll) * 50px));
}

#stars-foreground {
    width:  5px;
    height: 5px;
    transform: translateY(calc(var(--scroll) * 150px));
}

@keyframes movingStars {
    to {
        transform: rotate(360deg);
    }
}

#menu {
    color: var(--line-color);
}

.menu-item {
    color: var(--line-color);
}

.menu-item:hover {
    color: white;
}

p {
    color: lightgrey;
    margin: 0;
    max-height: 100%;
}

.intro {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.intro_text {
    grid-column: 2;
    margin: auto;
    letter-spacing: 0.2em;
    padding-bottom: 10%;
}

.set, .set_reverse{
    width: auto;
    height: 500px;
    margin: auto;
    margin-left: 0;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.set {
    margin-right: auto;
    margin-left: 5%;
}

.set .description{
    margin-left: 5%;
}

.set_reverse {
    text-align: right;
    margin-right: 5%;
    margin-left: auto;
}

.set_reverse .description {
    margin-right: 5%;
}

.description-name {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--main-bg-color);
    text-transform: uppercase;
}

.end {
    height: 200px;
}
