:root {
    --main-bg-color: #161517;
    --first-color: #f5d6b2;
    --second-color: #762323;
}

body {
    background-color: var(--second-color);
    font-family: 'Lato', sans-serif;
    font-weight:300;
    margin: 0;
}

header {
    background: url("./ressources/background.svg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
}

h1 {
    color: var(--first-color);
    background-image: url("./ressources/blur.svg");
    margin: 100px 0 100px 0;
    font-size: 350%;
    font-weight: 300;
    width: 500px;
    text-align: center;
    animation-name: shade, fromLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes shade {
    from {opacity: 0}
    to {opacity: 100%}
}

@keyframes fromLeft {
    from {transform: translateX(20px)}
    to {transform: translate(0)}
}

@keyframes fromUp {
    from {transform: translateY(-20px)}
    to {transform: translate(0)}
}

@keyframes fromDown {
    from {transform: translateY(1000px)}
    to {transform: translate(0)}
}
