.main {
    position: absolute;
    display: grid;
    grid-template-rows: 300px;
}

.column .img-selection {
    box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.5);
    width: 150%;
    position: relative;
    margin-bottom: 10%;
    border-radius: 5px;
}

.backButton {
    height: 30px;
    width: 30px;
    border: solid var(--first-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: translateX(50px) rotate(135deg);
    transition: border 0.05s ease;
}

.backButton a{
    padding: 15px;
}

.backButton:hover{
    border-width: 0 5px 5px 0;
}


.ImageTable {
    background-color: #f5f3f3;
    margin: 0;
    border: solid #f5f3f3;
    border-width: 0 50px 0 50px;
    display: grid;
    grid-row: 2;
    grid-column-gap: 5%;
    grid-template-columns: repeat(auto-fit,   minmax(300px, 1fr));
    animation: fromDown 1s ease;
}

#left .img-selection{
    margin-left: 0;
}

#right .img-selection{
    margin-left: -50%;
}

#center .img-selection{
    margin-left: -25%;
}

.column {
    max-width: 100%;
    min-width: 40%;
    padding-top: 50px;
    animation-name: shade, fromUp;
    animation-duration: 1s;
}

.column img {
    width: 100%;
    margin-bottom : 10%;
    transition: all 0.2s ease;
}
