img {
    height: 100%;
}

.main {
    width: 100%;
}

p {
    margin: 0;
    max-height: 100%;
}

.description_name {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--second-color);
    text-transform: uppercase;
}

.intro {
    margin: auto;
    letter-spacing: 0.2em;
}

.set, .set_reverse{
    width: auto;
    height: 800px;
    margin: auto;
    margin-left: 0;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    color: var(--first-color);
}

.set {
    margin-right: auto;
    margin-left: 0;
}

.set_reverse {
    text-align: right;
    margin-right: 0;
    margin-left: auto;
}
