.presentation {
    margin-top: 5%;
    margin-left: 10%;
    background-color: var(--main-bg-color);
}

.main-img {
    width: 40%;
    margin-left: 5%;
}

.content {
    display: inline-flex;
    align-items: center;
}

/* ===========END=========== */

.end {
    position: relative;
}

.contacts_link p {
    color: var(--second-color);
}

.signature {
    grid-column: 2;
    margin: auto;
}


@media only screen and (max-width: 600px) {
    .end {
        background-color: inherit;
    }

    .main-img {
        display: none;
    }

    .presentation {
        margin-right: 10%;
        background-color: ;
    }
}
