.main {
    display: grid;
}

#menu {
    font-family:  'Roboto', sans-serif;
    font-weight: 300;
    color: var(--first-color);
    letter-spacing: .9em;
    line-height: 150%;
    text-transform: uppercase;
    overflow: hidden;
    list-style-type: none;
    margin: 0 0 1em 6em;

}

.menu-item {
    color: var(--first-color);
    text-decoration: none;
    font-size: 1.5em;
    transition: letter-spacing 0.2s;
}

.selected {
    list-style-type: disc;
}

.menu-item:hover {
    color: var(--second-color);
    letter-spacing: .9em;
}

.column .img-selection {
    box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.5);
    width: 150%;
    position: relative;
    margin-bottom: 10%;
    border-radius: 5px;
}

.image-table {
    background: linear-gradient(#111 0, var(--second-color) 2em);
    padding: 0 50px 0 50px;
    display: grid;
    grid-row: 2;
    grid-column-gap: 5%;
    grid-template-columns: repeat(auto-fit,   minmax(400px, 1fr));
    animation: fromDown1000 1s;
}

@keyframes fromDown1000 {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

#left .img-selection{
    margin-left: 0;
}

#right .img-selection{
    margin-left: -50%;
}

#center .img-selection{
    margin-left: -25%;
}

.column {
    max-width: 100%;
    min-width: 40%;
    padding-top: 50px;
    animation-name: shade, fromUp;
    animation-duration: 1s;
}

.image-table img {
    width: 100%;
    margin-bottom : 10%;
    transition: margin 0.2s, height 0.2s, width 0.2s;
    box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.5);
}
