.column .img-selection {
    box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.5);
    width: 150%;
    position: relative;
    margin-bottom: 10%;
    border-radius: 5px;
}

#left .img-selection{
    margin-left: 0;
}

#right .img-selection{
    margin-left: -50%;
}

#center .img-selection{
    margin-left: -25%;
}

.column {
    max-width: 100%;
    min-width: 40%;
    padding-top: 50px;
    animation-name: shade, fromUp;
    animation-duration: 1s;
}

.image-table {
    padding: 0 6em 0 6em;
    align-items: flex-start;
}

.image-table img {
    width: 100%;
    margin-bottom : 10%;
    transition: margin 0.2s, height 0.2s, width 0.2s;
    box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.5);
}


@media only screen and (max-width: 600px) {
    .image-table {
        padding: 10% 10% 0 10%;
    }

    .column {
        padding-top: 0;
    }

    .column .img-selection {
        position: relative;
        box-shadow: none;
        width: 100%;
        border-radius: 0;
    }

    #left .img-selection{
        margin-left: 0;
    }

    #right .img-selection{
        margin-left: 0;
    }

    #center .img-selection{
        margin-left: 0;
    }
}
