.presentation {
    margin: auto;
}

.presentation h2 {
    color: white;
    margin-bottom: 1em;
}

.presentation h3 {
    font-size: 1em;
    margin-top: 30%;
}

.description {
    color: white;
}

.description a {
    color: var(--line-color);
}

.section {
    display: flex;
    background-color: var(--second-color);
}

.case {
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-loritz {
    height: 100vh;
    margin: 0 0 0 auto;
}

.light {
    background-color: var(--line-color);
}

.light .description {
    color : var(--second-color);
}

.up {
    position: absolute;
    right: 0;
    transition: opacity 0.2s linear;
}

.up:hover {
    opacity: 0;
}

.imgs-enim {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.img-enim {
    position: absolute;
    height: 60%;
    border-radius: 50%;
    transition: transform 0.5s ease, width 0.5s, height 0.5s;
}

.main-img {
    position: relative;
}

.imgs-enim:hover .img-enim {
    height: 40%;
}

.imgs-enim:hover .main-img {
    transform: translateY(50%);
}

.imgs-enim:hover .foreground-left {
    transform: translate(-55%, -50%);
}

.imgs-enim:hover .foreground-right {
    transform: translate(55%, -50%);
}

.img-amphibien {
    height: 60%;
}

.img-couture {
    width: 90%;
    margin-left: 10%;
}

.logo-img {
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .section {
        flex-direction: column;
        height: auto;
    }

    .light {
        flex-direction: column-reverse;
    }

    .case {
        width: 100vw;
        height: auto;
    }

    .presentation h2 {
        text-align: center;
        margin-top: 10%;
    }

    .presentation h3 {
        font-size: 1em;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .description {
        width: 80%;
        margin: auto;
    }

    .img-loritz {
        height: auto;
        width: 100%;
        margin: 0 0 0 auto;
    }

    .foreground-left {
        display: none;
    }

    .foreground-right {
        display: none;
    }

    .imgs-enim:hover .main-img {
        transform: translateY(0);
    }

    .imgs-enim:hover .img-enim {
        height: auto;
    }

    .main-img, .img-amphibien, .img-couture {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 10%;
    }
}
