h1 {
    padding-left: 15%;
}

.main {
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-rows: 100px 400px;
    grid-column-gap: 15px;
    grid-template-columns: 15% 1fr 15%;
 }

 .particles {
     position: absolute;
     z-index: -1;
     border-radius: 50%;
     height: 5px;
     width: 5px;
     animation: movingParticules 10s infinite ease alternate;
 }

 #particles-left {
     height: 10px;
     width: 10px;
     animation-direction: alternate-reverse;
 }

#particles-midle {
    animation-delay: -5s;
}

#particles-right {
    animation-delay: -3s;
}

@keyframes movingParticules {
    from {
        transform: rotate(-3deg);
    }
    to {
        transform: rotate(3deg);
    }
}

 #menu {
     grid-column: 2;
     grid-row: 1;
     padding: 0;
     width: 100%;
     height: 40%;
     overflow: hidden;
     display: inline-grid;
     list-style-type: none;
     grid-template-columns: 1fr 1fr 1fr;
     letter-spacing: 3px;
     text-align: center;
     opacity: 0;
 }

 .menu-item{
     color: var(--first-color);
     padding: 15px 20px;
     font-size: 2rem;
     text-decoration: none;
     transition: color 0.1s linear;
     letter-spacing: 3px;
     text-align: center;
     text-transform: uppercase;
 }

.menu-item:hover {
     color: var(--second-color);
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 0;
    background: var(--second-color);
    height: 2px;
    transition: width 0.2s linear;
}

.menu-item:hover::after{
    width: 50%;
}

.slider {
    margin: auto;
    grid-column: 2;
    grid-row: 2;
    width: min(60em, 100%);
    height: 25em;
    overflow: hidden;
    box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.3);
}

#slides {
    width: 200%;
    height: 100%;
    transition: transform 0s ease;
    display: flex;
}

.slide {
    float: left;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
}

.slide img{
    margin-top: -25%;
    width: 100%;
}

.signature {
    grid-column: 2;
    margin: auto;
}
