
.image-table {
    
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);

    animation: none;
    justify-items: center;

    padding: 0 5rem 0 5rem;
}


a {
    color: var(--main-bg-color);
}

.element {
    display: flex;
    flex-direction: column;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */ 
    margin: 2rem;
}

.element h3 {
    text-transform: none;
}




/* CARDS */

.card-flipped {
    transform: rotateY(180deg);
}

.card {
    background-color: transparent;
    width: 25rem;
    height: 25rem;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.5);
}


.front-card, .back-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }

.front-card {
    transform: rotateY(180deg);
}

.back-card {
    background-color: var(--first-color);
    color: white;
}





.presentation {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: var(--second-color);
}

.presentation img{
    width: 100%;
}

.presentation-text {
    padding: 0 2rem 0 2rem;
    background-color: transparent;
    display: grid;
    align-content: center;
}

.presentation-text p {
    color: var(--line-color);
    text-align: center;
    font-style: italic;
    margin: auto;
}


.presentation-text h3 {
    margin: auto;
    font-size: 3em;
}

h3 {
    color: var(--line-color);
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

/* ===========END=========== */
.logo-img {
    background-color: var(--main-bg-color);
}




@media only screen and (max-width: 1500px) {
    .image-table {
        grid-template-columns: auto auto;
    }

    .card {
        height: 20rem;
        width: 20rem;
    }

}

@media only screen and (max-width: 1400px) {
    .presentation img{
        display: none;
    }

    .presentation {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }


    .presentation-text {
        padding: 2rem;
    }

}

@media only screen and (max-width: 900px) {
    .image-table {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .card {
        height: 15rem;
        width: 15rem;
    }
}