.main {
    background-color: #16141D;
}

header {
    position: absolute;
    z-index: 10;
}

h1, h2 {
    color: var(--main-bg-color);
}

#menu {
    color: var(--line-color);
}

.menu-item {
    color: var(--line-color);
}

.menu-item:hover {
    color: white;
}

.ascii-art-project {
    display: flex;
    align-items: center;
    position: fixed;
}

.pearl {
    position: relative;
    height: 100vh;
    margin-right: 0;
    margin-left: auto;
    overflow: hidden;
}

.pearl img {
    height: 150%;
    margin-top: -10%;
}

.description, .infos {
    color: lightgrey;
    letter-spacing: 0.2em;
    line-height: 2em;
}

.description {
    border-left: solid 1px var(--line-color);
    padding-left: 1em;
    font-size: 1.3em;
    margin: 10% 0 0 10%;
}

.interface {
    margin-top: 100vh;
    z-index: 0;
    background-color: var(--line-color);
    display: flex;
    flex-direction: line;
    height: 100vh;
    overflow: auto;
}

.interface-img {
    height: 90%;
    margin: auto;
    margin-left: 5em;
    padding-right: 5em;
}

.infos {
    margin: auto;
    margin-left: 10em;
    list-style-type: decimal-leading-zero;
    line-height: 3em;
}

.info {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;

}

.info a, .info p {
    font-size: 1.5rem;
    color: #16141D;
}

.logo-img {
    background-color: var(--main-bg-color);
}

@media only screen and (max-width: 600px) {
    header {
        position: relative;
    }

    .ascii-art-project {
        flex-direction: column;
        position: relative;
    }

    .description {
        margin: 5%;
    }

    .pearl img {
        height: auto;
        width: 80%;
        margin: auto;
    }

    .line {
        display: none;
    }

    .pearl {
        height: auto;
    }

    .info {
        font-size: 2em;
    }

    .infos {
        line-height: normal;
        margin: 1em;
    }

    .interface {
        margin-top: 0;
        height: auto;
        flex-direction: column;
    }

    .interface-img {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .end {
        background-color: var(--line-color);
    }
}
